/* REMOVENDO RESTRIÇÕES DA PAGINA */
body{
    margin: 0;
    padding: 0;
}
/* SEÇÃO TOPO */
.header{
    margin: 0 auto;
    width: auto;
    height: 60px;
    background-color:#002400;
    text-align: center;
    color:white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    letter-spacing: 0.5em;

    border-bottom: 10px solid #001800;
}
/* TEXTO DO TOPO */
.header span{
    vertical-align: middle;
    line-height: 3em;
}

/* MENU TOPO */
.menu_topo li{
    display: block;
    position: absolute;
    top: -2px;
    right: 6px;
    height: 30px;
    list-style: none;
    padding: 8px 8px 0px 8px;
}

.menu_topo li img {
    width: 25px;
}

.filter_icon{
    filter: invert(6%) sepia(35%) saturate(3845%) hue-rotate(102deg) brightness(105%) contrast(105%);
}

.filter_icon:hover{
    width: 26px;
    cursor: pointer;
    filter: invert(23%) sepia(31%) saturate(890%) hue-rotate(63deg) brightness(87%) contrast(88%);
}

/* SEÇÃO BANNER */
.banner{
    margin:0px 0px 10px 0;
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    height: 250px;

    text-align: center;
}

/* TEXTO DO BANNER */
.banner span{
    display: block;
    font-weight: lighter;
    line-height: 7em;
    font-size: 38px;
    letter-spacing: 0.5em;
}

.banner span a{
    padding: 5px 20px 5px 20px;
    border-radius: 1em;
    text-decoration: none;
    color: white;
}

.banner span a:hover{
    background-color: #7DDF64;
    opacity: 0.8;
}

/* SEÇÃO TAG PARA PESQUISAS */
.conteudo_tag ul{
    margin-top: 0px;
    margin-left: 3px;
    padding: 0px;
}

.conteudo_tag li{
    color:#294A21;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 10px;

    list-style: none;
    display: inline-block;
    background-color: #7DDF64;
    padding: 7px;

    border-radius: 3px;

}

.conteudo_tag li:hover{
    cursor:pointer;
    background-color: #A8E997;
}

.conteudo_tag span{
    display: block;
    margin: 0px 10px 5px 10px;

    color:white;
    background-color: #222222;
    padding: 5px;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* SEÇÃO CONTEUDO */
.conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

.conteudo_item{
    margin:0px 20px 0px 0px;
}

.conteudo :last-child{
    margin-right: 0px;
    margin-bottom: 0px;
}

.conteudo_item img{
    width: 400px;
}

.texto_imagem{
    position: absolute;
    width: 400px;
    background-color: #222222;
    padding: 0px 0px 2px 0px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 3px;
}

.conteudo_item:hover{
    cursor:pointer;
    opacity: 0.8;
}

/* SEÇÃO BANNER NOVIDADES */
.banner_novidades{
    max-width: auto;
    min-width: 400px;
    height: 250px;
    margin: 30px 10px 30px 10px;
    background-image: url('images/background-novidade.jpg');
    background-size: cover;
    background-position: bottom;
}

.banner_novidades span{
    display: block;
    line-height: 3em;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 3em;
    color: white;
}

.banner_novidades button{
    height: 50px;
    padding: 5px 70px 5px 70px;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 15px;
    
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: 0.2em;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner_novidades button:hover{
    cursor: pointer;
    border-color: #7DDF64;
    color:#7DDF64;
}

/* SEÇÃO BIOGRAFIA */
.biografia{
    display: flex;
    margin: 10px 10px 30px 10px;
}

.biografia img{
    border-radius: 100%;
    outline:5px solid #2D2D2D;
    outline-offset: -1px;
    border: 4px solid #1E1E1E;
    height: 160px;
    margin-left: 10px;
}

.biografia_conteudo{
    width: 100%;
    height: 150px;
    margin-top: 0px;
    margin-left: 20px;
}

.biografia_conteudo span{
    font-size: 1.5em;
    letter-spacing: 0.3em;
    font-weight: lighter;
}

.biografia_conteudo p{
    text-justify: distribute;
    font-size: 1.5em;
}

/* SEÇÃO RODAPÉ */
.footer{     
    position:relative;
    bottom:0px;
    height: 40px;
    width: 100%;
    background-color: #001800;

    color: white;
    text-align: center;
    line-height: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 3px;

}

/* quando a tela for menor ou igual a 800px 
essas regras de css entram em ação */
@media only screen and (max-width: 800px){

    .banner span a:hover{
    font-size: 1em;
    }

    .banner span{
    font-weight: bold;
    line-height: 15em;
    font-size: 15px;
    }

    .conteudo_item{
        margin-right: 0px;
    }
    

    .conteudo_item img{
        width: 100%;
    }
    
    .texto_imagem{
        text-shadow: 1px 4px 10px #130703;
        color: white;
        background-color: transparent;
        font-size: 50px;
        left: 20px;
    }


    .banner_novidades{
        margin: 30px 0px 30px 0px;
    }

    .banner_novidades span{
        line-height: 1.0em;
        letter-spacing: 0.2em;
        font-size: 3em;
        padding-top: 0.5em;
        margin-bottom: 0.5em;
 
    }
    
    .banner_novidades button{
        height: 50px;
        font-size: 1.2em;
        letter-spacing: 0.2em;
        
    }

    .biografia_conteudo p{
        text-justify: distribute;
        font-size: 0.8em;
    }


    .footer{
        line-height: 2em;
        font-size: 13px;
        padding-top: 5px;
    }
}